<h1 mat-dialog-title>
  Profesor: {{ data.name }}
  <button
    class="float-right mr-2 my-2"
    mat-icon-button
    color="warn"
    (click)="onNoClick()"
  >
    <mat-icon>close</mat-icon>
  </button>
</h1>

<div mat-dialog-content>
  <form
    #validateForm="ngForm"
    (ngSubmit)="
      data.id
        ? updateTeacher(data, validateForm)
        : createTeacher(data, validateForm)
    "
    class="grid grid-cols-1 gap-2"
  >
    <mat-form-field appearance="fill">
      <mat-label>Nombres</mat-label>
      <input
        id="name"
        matInput
        required
        [(ngModel)]="data.name"
        minlength="3"
        #name="ngModel"
        pattern="[a-zA-Z ]*"
        name="name"
      />

      <div id="nameError">
        <mat-error *ngIf="name.errors?.['required']">
          Campo requerido.
        </mat-error>
        <mat-error *ngIf="name.errors?.['pattern']">
          Caracter no permitido.
        </mat-error>
        <mat-error *ngIf="name.errors?.['minlength']">
          Minimo de caracteres 3.
        </mat-error>
      </div>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Apellidos</mat-label>
      <input
        id="lastName"
        matInput
        required
        [(ngModel)]="data.lastName"
        minlength="4"
        #lastName="ngModel"
        pattern="[a-zA-Z ]*"
        name="lastName"
      />
      <div id="lastNameError">
        <mat-error *ngIf="lastName.errors?.['required']">
          Campo requerido.
        </mat-error>
        <mat-error *ngIf="lastName.errors?.['pattern']">
          Caracter no permitido.
        </mat-error>
        <mat-error *ngIf="lastName.errors?.['minlength']">
          Minimo de caracteres 4.
        </mat-error>
      </div>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Cógido</mat-label>
      <input
        id="teacherCode"
        matInput
        required
        [(ngModel)]="data.teacherCode"
        #teacherCode="ngModel"
        pattern="^([0-9])*$"
        minlength="8"
        name="teacherCode"
      />
      <div id="teacherCodeError">
        <mat-error *ngIf="teacherCode.errors?.['required']">
          Campo requerido.
        </mat-error>
        <mat-error *ngIf="teacherCode.errors?.['pattern']">
          Caracter no permitido.
        </mat-error>
        <mat-error *ngIf="teacherCode.errors?.['minlength']">
          Minimo de caracteres 8.
        </mat-error>
      </div>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Correo</mat-label>
      <input
        id="email"
        matInput
        required
        [(ngModel)]="data.email"
        [email]="true"
        #email="ngModel"
        name="email"
      />

      <div id="emailError">
        <mat-error *ngIf="email.errors?.['required']">
          Campo requerido.
        </mat-error>
        <mat-error *ngIf="email.errors?.['email']">
          Correo no permitido.
        </mat-error>
      </div>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Telefono</mat-label>
      <input
        id="phone"
        matInput
        [(ngModel)]="data.phone"
        #phone="ngModel"
        pattern="^([0-9])*$"
        minlength="8"
        name="phone"
      />
      <div id="phoneError">
        <mat-error *ngIf="phone.errors?.['pattern']">
          Caracter no permitido.
        </mat-error>
        <mat-error *ngIf="phone.errors?.['minlength']">
          Minimo de caracteres 8.
        </mat-error>
      </div>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Profesión</mat-label>
      <input
        id="jobTitle"
        matInput
        required
        [(ngModel)]="data.jobTitle"
        minlength="4"
        #jobTitle="ngModel"
        pattern="[a-zA-Z ]*"
        name="jobTitle"
      />
      <div id="jobTitleError">
        <mat-error *ngIf="name.errors?.['required']">
          Campo requerido.
        </mat-error>
        <mat-error *ngIf="name.errors?.['pattern']">
          Caracter no permitido.
        </mat-error>
        <mat-error *ngIf="name.errors?.['minlength']">
          Minimo de caracteres 4.
        </mat-error>
      </div>
    </mat-form-field>

    <div class="grid grid-cols-1 float-right">
      <span>Foto</span>
      <input
        type="file"
        id="fileInput"
        (change)="seleccionarImagen($event)"
        name="fileInput"
        accept="image/*"
      />
    </div>

    <div mat-dialog-actions>
      <button
        id="submitButton"
        class="float-right my-2"
        mat-stroked-button
        color="primary"
        [mat-dialog-close]="data.name"
        type="submit"
        [disabled]="!validateForm.valid"
      >
        {{data.id ? 'Actualizar': 'Crear'}}
      </button>
    </div>
  </form>
</div>
